@import "./../vars.css";

.container{
 color: var(--color-text);
 margin-top: 90px;
 margin-left: 10%;
 margin-right: 10%;
 background-color: rgba(12, 12, 12, 0.6);
 border-radius: 15px ;
 -webkit-border-radius: 15px ;
 -moz-border-radius: 15px ;
 -ms-border-radius: 15px ;
 -o-border-radius: 15px ;
 padding: 73px;
 animation: slide 2s ease-in-out infinite alternate;
 -webkit-animation: slide 2s ease-in-out infinite alternate;
}

@keyframes slide {
  0% {
    background-image: linear-gradient(90deg, rgba(165, 215, 232, 0.42) 0%, rgba(255, 255, 255, 0) 50%);
  }
  100% {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 50%, rgba(165, 215, 232, 0.42) 100%);
  }
  
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.items{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.item{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  border-radius: 20px;

}
.image{
  width: 75px;
}

.description{
display: flex;
flex-direction: column;
align-items: self-start;
justify-content: center;
margin-left: 20px;
}

.description h3 {
  font-size: 25px;
  font-weight: 600;
  color: var(--color-text);
}

.description p {
  font-size: 25px;
  color: var(--color-text);
margin-top: 5px;
}

@media screen and (max-width: 920px) {
  .container{
    background: transparent;
  }
  .description p{
    display: none;
  }
}